pytest==6.2.4
pylint==2.8.3
pytest-pylint==0.18.0
pytest-flake8==1.0.7
pytest-cov==2.12.1
python-coveralls
mypy==0.902
selenium==3.141.0
sphinx==4.0.2
m2r2==0.2.8
Flask-Sphinx-Themes==1.0.2
sphinx-autodoc-typehints==1.12.0
flake8==3.9.2
pytz
