pytest==5.4.3
pylint==2.5.3
pytest-pylint==0.17.0
pytest-flake8==1.0.6
pytest-cov==2.10.0
python-coveralls
mypy==0.760
selenium==3.141.0
sphinx==2.1.1
m2r==0.2.1
Flask-Sphinx-Themes==1.0.2
sphinx-autodoc-typehints==1.7.0
pytz
