@import '../../commons/scss/colors';

.dazzler-core-form {
  .form-header {
    background-color: $primary;
    color: white;
    padding: 0.25rem;
  }
  .form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
  }
  .form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;

    &:first-child {
      margin-top: 0.25rem;
    }

    .form-label {
      width: 50%;
    }

    .form-input {
      width: 50%;
    }
    &.form-field-stacked {
      flex-direction: column;
      align-items: unset;
      margin-bottom: 0.5rem;
      .form-label, .form-input {
        width: unset;
      }
      .form-label {
        font-size: large;
        font-weight: 500;
        margin-bottom: 0.25rem;
      }
      .form-input {
        font-size: large;
        padding: 0.25rem;
      }
    }
  }
  .form-submit {
    padding: 0.5rem;
    background-color: $primary-dark;
    color: white;
    width: calc(100% - 0.25rem);
    align-self: center;
    border-radius: 3px;
    font-weight: bold;
    font-size: large;
    &:hover, &:focus {
      background-color: $primary-light;
    }
  }

  .form-submit-container {
    display: flex;
    justify-content: center;
  }
  .form-error {
    color: $danger;
  }

  .form-footer {
    padding: 0.25rem;
  }

  &.dazzler-rounded {
    .form-header {
      border-radius: 3px 3px 0 0;
    }
    .form-footer {
      border-radius: 0 0 3px 3px;
    }
  }
}
