@import '../../commons/scss/colors';

.dazzler-core-slider {
  height: 1rem;
  display: flex;
  -moz-user-select: none;

  .slider-handle {
    height: 1rem;
    width: 0.8rem;
    background-color: $neutral;
    border: $neutral-dark solid 1px;
    border-radius: 3px;
    cursor: pointer;
    &.dragged {
      background-color: $neutral-dark;
      -moz-user-select: none;
    }
  }
  .slider-area {
    height: 0.75rem;
    flex-grow: 1;
    border: $neutral-light solid 1px;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  .slider-spacer {
    height: 0.75rem;
    background-color: $neutral;
    border: $neutral-dark solid 1px;
    border-right: none;
  }
}
