$primary: #5294e2;
$primary-light: #52a3f1;
$primary-dark: #107bdb;

$secondary: #574af0;
$secondary-light: #aba4f7;
$secondary-dark: #2112d9;

$tertiary: #4aecf0;
$tertiary-light: #a4f5f7;
$tertiary-dark: #0c8d90;

$danger: #d9534f;
$danger-light: #de6c69;
$danger-dark: #ac4c49;

$warning: #f0ad4e;
$warning-light: #f2b968;
$warning-dark: #de9c4d;

$success: #5cb85c;
$success-light: #74c274;
$success-dark: #4a944a;

$neutral: #dbdbe0;
$neutral-light: #e5e5ea;
$neutral-dark: #c9c9ce;

$dark: #494949;
$dark-light: #696969;
$dark-dark: #393939;

$darker: #2a2a2a;
$darker-light: #333333;
$darker-dark: #232323;

$color_names: primary primary-light primary-dark secondary secondary-light
    secondary-dark tertiary tertiary-light tertiary-dark danger danger-light
    danger-dark warning warning-light warning-dark success success-light
    success-dark neutral neutral-light neutral-dark dark dark-light dark-dark
    darker darker-light darker-dark;
$all_colors: $primary $primary-light $primary-dark $secondary $secondary-light
    $secondary-dark $tertiary $tertiary-light $tertiary-dark $danger
    $danger-light $danger-dark $warning $warning-light $warning-dark $success
    $success-light $success-dark $neutral $neutral-light $neutral-dark $dark
    $dark-light $dark-dark $darker $darker-light $darker-dark;
