@import 'colors';

@for $i from 1 to 28 {
  .dazzler-renderer {
    .#{nth($color_names, $i)} {
      background-color: nth($all_colors, $i);
    }
    .dazzler-preset-color-#{nth($color_names, $i)} {
      color: nth($all_colors, $i);
    }
    .dazzler-preset-background-#{nth($color_names, $i)} {
      background-color: nth($all_colors, $i);
    }
  }
}
