$primary: #5294e2;
$primary-light: #52a3f1;
$primary-dark: #107bdb;

$danger: #D9534F;
$danger-light: #DE6C69;
$danger-dark: #ac4c49;

$warning: #F0AD4E;
$warning-light: #F2B968;
$warning-dark: #de9c4d;

$success: #5CB85C;
$success-light: #74c274;
$success-dark: #4a944a;

$neutral: #dbdbe0;
$neutral-light: #E5E5EA;
$neutral-dark: #c9c9ce;
